body {
    font-family: 'Roboto Slab', serif;

}

a:link {
    color: rgba(82, 34, 208, 1)
}

a:visited {
    color: rgb(174, 230, 243);
}

a {
    text-decoration: none;


}

a:hover {
    text-decoration: underline;
}

.container {
    display: grid;
    grid-template-rows: 2fr 6fr 1fr;
}

.header {
    display: grid;
    grid-row: 1/2;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin-top: 2%;
}

.header__widget {
    display: grid;
    grid-row: 1/2;
    grid-column: 1/3;
}

.header__widget__logo {
    display: grid;
    grid-column: 1/2;
}

.header__widget__name {
    display: grid;
    grid-column: 2/3;
    grid-row: 1/2;
}



.button-header {
    display: grid;
    grid-column: 2/3;
    justify-content: flex-end;
}


.header__content {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-row: 2/3;
    grid-column: 1/3;
    justify-content: space-between;
}

.header__content__logo {
    display: grid;
    grid-column: 1/2;
    align-items: center;
}

.header__content__button__btn {

    background-color: rgba(82, 34, 208, 1);
    color: white;
    text-align: center;
    border-radius: 20px;
    margin: 48px;


}

.header__content__button {
    display: grid;
    grid-column: 2/3;
    justify-content: flex-end;
}

.main__button {
    background-color: rgba(82, 34, 208, 1);
    color: white;
    text-align: center;
    border-radius: 30px;
    padding: 15px;
    font-family: Intro;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 35px;
}

.footer__nav li {
    display: inline;
    color: rgba(82, 34, 208, 1);
    list-style-type: none;
    padding: 6px;
}

.main {
    display: grid;
    grid-row: 2/3;
    grid-template-columns: 1fr 1fr;
}

.main__section {
    grid-column: 1/2;
}

.main__image {
    grid-column: 2/3;
}