body {
    font-family: 'Roboto Slab', serif;

}

a:link {
    color: rgba(82, 34, 208, 1)
}

a:visited {
    color: rgb(174, 230, 243);
}

a {
    text-decoration: none;


}

a:hover {
    text-decoration: underline;
}

.container {
    display: grid;
    grid-template-rows: 10% 80% 10%;
    margin-left: 5%;
    padding-right: 3%;
    max-width: 100%;
}

.header {
    display: grid;
    grid-row: 1/2;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin-top: 2%;
}

.header__widget {
    display: grid;
    grid-row: 1/2;
    grid-column: 1/3;
}

.header__widget__logo {
    display: grid;
    grid-column: 1/2;
}

.header__widget__name {
    display: grid;
    grid-column: 2/3;
    grid-row: 1/2;
}



.button-header {
    display: grid;
    grid-column: 2/3;
    justify-content: flex-end;
}


.header__content {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-row: 2/3;
    grid-column: 1/3;
    justify-content: space-between;
}

.header__content__logo {
    display: grid;
    grid-column: 1/2;
    align-items: center;
}

.header__content__button__btn {

    background-color: rgba(82, 34, 208, 1);
    color: white;
    text-align: center;
    border-radius: 20px;
    margin: 48px;


}

.header__content__button {
    display: grid;
    grid-column: 2/3;
    justify-content: flex-end;
}

.main {
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;

}


h1 {
    padding: 1%;
}

.page {
    display: grid;
    grid-row: 2/3;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5%;
}

.section-nowires {
    display: grid;
    grid-row: 1/2;
    grid-column: 1/2;
}

.section-nocomp {
    display: grid;
    grid-row: 1/2;
    grid-column: 2/3;
}

.section-work {
    display: grid;
    grid-row: 1/2;
    grid-column: 3/4;
}

.section-games {
    display: grid;
    grid-row: 2/3;
    grid-column: 1/2;
}

.section-free {
    display: grid;
    grid-row: 2/3;
    grid-column: 2/3;
}

.section-form {
    display: grid;
    grid-row: 2/3;
    grid-column: 3/3;
    background-color: #EC615B;
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 15%;
    width: 60%;
}

.section-form__input {
    margin-bottom: 4%;
}



.section-form__button {
    background-color: rgba(82, 34, 208, 1);
    color: white;
    text-align: center;
    border-radius: 20px;
    padding: 1%;
}

.footer__nav li {
    display: inline;
    color: rgba(82, 34, 208, 1);
    list-style-type: none;
    padding: 6px;
}

h2 {
    color: white;
}